<nav>
    <a href="/">Home</a>
    <a href="/companyHistory">Company History</a>
    <a href="/pastWork">Past Work</a>
    <a href="/contact">Contact</a>
    <a href="/externallinks">External Links</a>
    <a href="/staff">Staff</a>
   
  </nav>
  