<nav>
    <a href="/">Home</a>
    <a href="/companyHistory">Company History</a>
    <a href="/pastWorks">Past Works</a>
    <a href="/contact">Contact</a>
    <a href="/staff">Staff</a>
    <a href="/externallinks">External Links</a>
    <link rel="stylesheet" href="/css/app.css">  
  </nav>
  