<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/app.css">  
  <title>Home</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Contact Us</h1>
  <p>Call Us @ 1-800-G0-LOONEY</p>
</body>
</html>