<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/app.css">  
  <title>Home</title>
</head>
<body id="past-work-page">
    <%- include('./partials/nav') %>
  <h1 id="past-work-header">Past Work</h1>
  <div id="past-work-list">
  <ul>
    <% renderPastWorks.forEach((item, index) => { %>
      <a href="/pastWorks/<%= index %>">    
      <li><%= item.title %></li>
    </a>  
    <% }) %>
  </div>
</body>
</html>